<a href="https://colab.research.google.com/github/Phanuel55/docpha/blob/main/Copy_of_Ras_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import librairies
import pandas as pd
import numpy as np

ALL_DUTY_START_END SHEET

In [3]:
# Read data
all_duty_start_end = pd.read_excel ('/content/ELIZABETH_LINE_DATA.xlsx', sheet_name='ALL_DUTY_START_END')
all_duty_start_end.columns = ['DUTY_ID','START_TIME_SECONDS','START_NODE','END_TIME_SECONDS','END_NODE']

In [4]:
print(all_duty_start_end.columns)

Index(['DUTY_ID', 'START_TIME_SECONDS', 'START_NODE', 'END_TIME_SECONDS',
       'END_NODE'],
      dtype='object')

In [5]:
all_duty_start_end.DUTY_ID

0       FERRY_1
1       FERRY_2
2       FERRY_3
3       FERRY_4
4       FERRY_5
        ...
95    RSDuty_88
96    RSDuty_89
97     RSDuty_9
98    RSDuty_90
99    RSDuty_91
Name: DUTY_ID, Length: 100, dtype: object

In [ ]:
all_duty_start_end.sort_values(by='START_TIME_SECONDS')

      DUTY_ID  START_TIME_SECONDS START_NODE  END_TIME_SECONDS END_NODE
0     FERRY_1                7200    MDNHDCS              7245  MDNHDRS
1     FERRY_2                7620    MDNHEAD              7838  RDNGSTN
2     FERRY_3                8040    MDNHEAD              8258  RDNGSTN
3     FERRY_4                8460    MDNHEAD              8678  RDNGSTN
4     FERRY_5                8880    MDNHEAD              9098  RDNGSTN
..        ...                 ...        ...               ...      ...
21  RSDuty_20               70620    RDNGSTN             88740  PLMSXCR
84  RSDuty_78               72420    RDNGSTN             88890  OLDOXRS
90  RSDuty_83               74160    WBRNPKS             87660  GIDEPKS
40  RSDuty_38               74220    RDNGSTN             82560  OLDOXRS
77  RSDuty_71               76020    RDNGSTN             80940  OLDOXRS

[100 rows x 5 columns]

In [ ]:
all_duty_start_end.sort_values(by= 'END_TIME_SECONDS', ascending = False)

      DUTY_ID  START_TIME_SECONDS START_NODE  END_TIME_SECONDS END_NODE
81  RSDuty_75               21000    OLDOXRS             92160  SHENFLD
64   RSDuty_6               57120    GIDEPKS             90960  GIDEPKS
19  RSDuty_19               41220    OLDOXRS             90900  SHENFLD
86   RSDuty_8               53820    OLDOXRS             90060  OLDOXRS
92  RSDuty_85               16920    GIDEPKS             90060  GIDEPKS
..        ...                 ...        ...               ...      ...
4     FERRY_5                8880    MDNHEAD              9098  RDNGSTN
3     FERRY_4                8460    MDNHEAD              8678  RDNGSTN
2     FERRY_3                8040    MDNHEAD              8258  RDNGSTN
1     FERRY_2                7620    MDNHEAD              7838  RDNGSTN
0     FERRY_1                7200    MDNHDCS              7245  MDNHDRS

[100 rows x 5 columns]

In [ ]:
End_time = pd.Series(all_duty_start_end.END_TIME_SECONDS)
Start_time = pd.Series(all_duty_start_end.START_TIME_SECONDS)

In [ ]:
Diff_time = End_time - Start_time
Diff_time

0        45
1       218
2       218
3       218
4       218
      ...
95    13620
96    20220
97    60300
98    56220
99    28050
Length: 100, dtype: int64